:root {
    --main-color: #282c34;
    --second-color: silver;
    --heading-color: darkorange;
}

[data-theme="dark"] {
    --main-color: silver;
    --second-color: black;
    --heading-color: salmon;
}

body {
    background-color: var(--main-color, var(--second-color));
    color: var(--second-color);
    max-width: 900px;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 19px;
    font-family: sans-serif;
}

h1 {
    color: var(--heading-color);
}

h2, h4 {
    margin-top: 50px;
}

h4:before {
    content: "## ";
}

p {
    color: var(--second-color, var(--main-color));
    margin-top: 5px;
    margin-bottom: 0px;
}

ul {
    padding-inline-start: 20px;
    margin-top: 0px;
}

ul p {
    margin: 0px;
}

a {
    color: #40a0bd;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

a:visited {
    color: #40a0ba;
}

pre {
    background: #161b22;
    padding: 15px;
}

code {
    display: block;
    overflow: auto;
    color: salmon;
}

blockquote {
    font-style: italic;
}

header h3 {
    margin: 2em 0 0 0;
}

:target::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
}

@media (min-width: 1200px) {
    .content-toc {
        position: fixed;
        display: block;
        width: 20%;
        max-height: 60vh;
        top: 300px;
        right: 0px;
        padding: 0 20px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .toc-header {
        top: 280px;
    }
}

@media (max-width: 600px) {
    .square {
        grid-column: 1 / 4;
    }
    .square-center {
        display: none !important;
    }
}

.square-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: bold;
    grid-gap: 10px;
    grid-template-areas: ". . ."
                         ". center ."
                         ". . ."
}
.square {
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.square-center {
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-radius: 5px;
    color: #FFF;
}

.rel {
    display: inline-block;
    padding: 5px;
    opacity: 0.8;
}
